@media screen and (min-width: 1280px) {
	.article {
		font-size: 3.8em;
	}
	body {
  		max-width: 90vw;
	}
	.icon {
		font-size: 0.8em;
	}
}
@media (min-width: 488px) and (max-width: 1279px) {
	.article {
		font-size: 3em;
	}
	body {
  		max-width: 95vw;
	}
	.icon {
		font-size: 0.7em;
	}
}
@media screen and (max-width: 487px) {
	.article {
		font-size: 2.2em;
	}
	body {
  		max-width: 100vw;
	}
	.icon {
		font-size: 0.6em;
	}
}

body {
	margin: 0 auto;
	font-family: 'Fira Sans', sans-serif;
}

img {
	max-width: 10vw;
	margin: 50px 30px 50px 0;
}

.article {
	font-weight: 300;
	color: #14222F;
	letter-spacing: -.05em;
}

p {
	margin-bottom: 30px;
}

a {
	text-decoration: none;
	color: #9BA3A3;
}

a:hover {
	text-decoration: none;
	color: #14222F;
}

nav {
	text-transform: uppercase;
	font-size: 1.2em;
	margin-right: 30px;
	margin-bottom: 30px;

}
