
body {
	margin: 0 auto;
	font-family: 'Fira Sans', 'Helvetica', sans-serif;
	background-color: white;
	/*background-image: url("img/background.png");*/
	background: url(img/saopaulomod.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

h1 {
	font-size: 1.5em;
	letter-spacing: 1px;
	font-weight: 500;
	margin-top: 3em;
	margin-bottom: 3em;
	color: white;
}

h2 {
	font-size: 1.5em;
	margin-top: 3em;
	font-weight: 500;
	color: white;
	display:inline-block
}

h3 {
	font-size: 1em;
	margin-bottom: 3em;
	font-weight: 300;
	color: white;
	text-align: center;	
}

.article {
	font-weight: 400;
	color: #14FFD6;
}

a:hover {
	text-decoration: none;
	color: white;
	font-weight: 500;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
	text-decoration: none;
	color: #14FFD6;
	font-weight: 400;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.2em;
    letter-spacing: 2px;
    padding: 10px 20px 30px;
    text-decoration: none;
}

@media screen and (min-width: 1280px) {
	p {
		font-size: 6em;
	}
	body {
  		max-width: 90vw;
	}
	.icon {
		font-size: 0.8em;
	}
	li {
    float: left;
	}
}
@media (min-width: 488px) and (max-width: 1279px) {
	p {
		font-size: 4.5em;
	}
	body {
  		max-width: 95vw;
	}
	.icon {
		font-size: 0.7em;
	}
	li {
    float: left;
	}
}
@media screen and (max-width: 487px) {
	p {
		font-size: 2.5em;
	}
	body {
  		max-width: 100vw;
	}
	.icon {
		font-size: 0.6em;
	}
	li {
        float: none;
	}
}

	
